*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Mono', monospace;
    overflow: scroll;
}

p {
    font-family: 'Lexend Deca'
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: #FCB72B;
}

svg:hover path {
    fill: #E5ECF4;
}

.title {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}