.btn {
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background: #FCB72B;
    padding: 14px 39px;
    border:3px solid transparent;
}

.btn:hover {
    border: 3px solid #FCB72B;
    box-sizing: border-box;
    color: #FCB72B;
}