.guide {
    margin-top: 160px;
    margin-bottom: 200px;

    &__line {
        z-index: -1;
        width: 980px;
        max-width: 100%;
        height: 15px;
        background-color: #E5ECF4;
        border: none;
        transform: translateY(55px);
    }

    // border-top: 15px solid #E5ECF4;

    &__list {
        display: flex;

        &--item {
            margin-right: 30px;
            z-index: 1;
        }

        &--title {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -1.07143px;
            color: #495567;
            margin-bottom: 27px;
            margin-top: 40px;
        }

        &--text {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 25px;
            color: #939CAA;
            width: 350px;
            max-width: 100%;
        }
    }
}

.first-item::before {
    content: "";
    width: 96px;
    height: 96px;
    display: inline-block;

    background-image: url('../images/mobilephone.svg');
    background-repeat: no-repeat;
    background-size: 96px 96px;
}

.second-item::before {
    content: "";
    width: 96px;
    height: 96px;
    display: inline-block;

    background-image: url('../images/scooter.svg');
    background-repeat: no-repeat;
    background-size: 96px 96px;
}

.third-item::before {
    content: "";
    width: 96px;
    height: 96px;
    display: inline-block;

    background-image: url('../images/enjoy-scooter.svg');
    background-repeat: no-repeat;
    background-size: 96px 96px;
}

@media screen and (max-width:1107px) {
    .guide {
        &__line {
            width: 780px;
        }
    }
}

@media screen and (max-width:768px) {
    .guide {
        margin-top: 122px;
        position: relative;

        &__line {
            position: absolute;
            top: 138px;
            width: 548px;
            transform: rotate(90deg);
            margin-left: -118px;
        }

        &__list {
            display: flex;
            flex-direction: column;

            &--item {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 40px;
                margin-right: 0;
            }

            &--title {
                margin-top: 0;
            }
        }

        &-box {
            margin-left: 79px;
        }
    }
}

@media screen and (max-width:633px) {
    .guide {
        &__line {
            display: none;
        }
    }
}

@media screen and (max-width:564px) {
    .guide {
        &__list {
            &--item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            &--text {
                text-align: center;
            }
        }

        &-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 0;
        }
    }
}

@media screen and (max-width:375px) {
    .guide {
        margin-bottom: 0;

        &__line {
            display: none;
        }

        &-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 0;
            margin-bottom: 48px;
        }

        &-box:last-child {
            margin-bottom: 0;
        }

        &__list {
            &--item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            &--title {
                font-size: 20px;
                line-height: 28px;
                margin-bottom: 24px;
            }

            &--text {
                text-align: center;
                width: 311px;
            }
        }
    }

    .first-item::before {
        content: "";
        width: 56px;
        height: 56px;
        display: inline-block;

        background-image: url('../images/mobilephone.svg');
        background-repeat: no-repeat;
        background-size: 56px 56px;
        margin-bottom: 24px;
    }

    .second-item::before {
        content: "";
        width: 56px;
        height: 56px;
        display: inline-block;

        background-image: url('../images/scooter.svg');
        background-repeat: no-repeat;
        background-size: 56px 56px;
        margin-bottom: 24px;
    }

    .third-item::before {
        content: "";
        width: 56px;
        height: 56px;
        display: inline-block;

        background-image: url('../images/enjoy-scooter.svg');
        background-repeat: no-repeat;
        background-size: 56px 56px;
        margin-bottom: 24px;
    }
}